* {
    box-sizing: border-box;
}

body {
    color: #363738;
    background-color: #fcfcfd;
    font-family: Noto Sans Mono, sans-serif;
    font-size: 16px;
    line-height: 1;
    margin:0px;
}

.green-text{
    color: #28eea7;
}

.yellow-text{
    color: rgb(255, 198, 53);
}

.purple-text{
    color: rgb(152, 100, 218);
}

.pink-text{
    color: rgb(251, 80, 142);
}

.main-container{
    display: flex;
    flex-direction:column;
}
.titles-container{
    color: #28eea7;
    padding-right: 0;
    font-size: 24px;
    font-weight: 900;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 1.4;
}

.titles-container div:first-of-type{
    padding: 10px 20px;
}

.titles-container span{
    color:black;
}
.black-titles-container{
    color: #28eea7;
    padding-right: 0;
    font-size: 24px;
    font-weight: 900;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 1.4;
}



.black-titles-container div:first-child{
    background-color: #363738;   
    padding: 10px 20px;

}
.black-titles-container span{
    color:white;
    font-weight: bold;
}


.black-circle{
    border-radius: 20px;
    background-color: black;
    width: 20px;
    height: 20px;
}

.grey-circle{
    border-radius: 20px;
    background-color: grey;
    width: 20px;
    height: 20px;

}

.green-circle{
    border-radius: 20px;
    background-color:green;
    width: 20px;
    height: 20px;
}

.white-circle{
    border-radius: 20px;
    background-color:white;
    width: 20px;
    height: 20px;

}

.edge-circle{
    margin-left:auto;
    margin-top: 7px;
    margin-bottom:7px;
    margin-right:7px;
}
.middle-circle{
    margin-top: 7px;
    margin-bottom:7px;
}

.border-circle{
    margin:7px;
}

.container-dimensions{
    padding-top:70px;
    padding-bottom:70px;
}

.nav-container {
    height:50px;
    max-width:1340px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    position: absolute;
    top: 70px;
    bottom: auto;
    left: 0%;
    right: 0%;
    max-width: 90%;
    margin:auto;
    
}


nav .logo{
    font-weight: bold;
    color: #28eea7;
    max-width: 100%;
    height: 100%;
    cursor: pointer;
}
nav .dropbtn{
    width: 45px;
    height: 45px;
    align-self: center;
    background-color: #363738;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    display: flex;
}

nav.dropbtn img{
    width: 36px;
    height: 36px;
    cursor: pointer;
    
}

.header-container{
    height: 100vh;
    min-height: 100%;
    color:white;
    flex-direction: row;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}

.left-item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    flex-basis:50%;
    width: 100%;
    height: 100%;
    background-color: #28eea7;
    padding-top: 120px;
    padding-bottom: 60px;
    padding-left: 70px;
    padding-right: 50px;
    transition: 400ms ease-in-out;
    background-blend-mode: multiply;
    background-image: url("https://uploads-ssl.webflow.com/63e3828f575098222357ad70/641b4c900878f534cf0d3f17_Untitled%20design%20(11).png");
    background-position: 50%;
    background-size: cover;
    background-clip: border-box;
  }



.right-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-basis:50%;
    width: 100%;
    height: 100%;
    background-color: #363738;
    padding-top: 120px;
    padding-bottom: 60px;
    padding-left: 50px;
    padding-right: 70px;
    background-image: linear-gradient(rgba(35, 35, 35, .85), rgba(35, 35, 35, .85)), url("https://uploads-ssl.webflow.com/63e3828f575098222357ad70/641b4d48dc5b31ff0aa4ca67_Untitled%20design%20(12).png");
    background-position: 0 0, 50%;
    background-size: auto, cover;
}
.left-item h1:first-child{
    color: #fcfcfd;
    background-color: #363738;
    text-align: right;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 900;
    line-height: 2.5;
    padding-left: 10px;
    padding-right: 10px;

}

.right-item h1:first-child{
    color: #363738;
    background-color: #fcfcfd;
    text-align: left;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 900;
    line-height: 2.5;
    padding-left: 10px;
    padding-right: 10px;
}

.left-item-h1{
    text-align: right;
    text-transform: uppercase;
    flex: 0 auto;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Noto Sans Mono, sans-serif;
    font-size: 36px;
    font-weight: 900;
    line-height: 1;
    color:white;
}
.right-item-h1{
    text-align: left;
    text-transform: uppercase;
    flex: 0 auto;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Noto Sans Mono, sans-serif;
    font-size: 36px;
    font-weight: 900;
    line-height: 1;
}
.left-item p, .right-item p{
    margin-top:50px;
    margin-bottom:50px;
  }

.left-item a{
    color: #fcfcfd;
    background-color: rgba(35, 35, 35, .9);
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 800;
    border: 0;
    border-radius: 0;
    padding: 9px 15px;
    text-decoration: none;
    display: inline-block;
    line-height: inherit;
    cursor: pointer;
}
  .right-item a{
    color: #363738;
    background-color: #f1f2f3;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 800;
    border: 0;
    border-radius: 0;
    padding: 9px 15px;
    text-decoration: none;
    display: inline-block;
    line-height: inherit;
    cursor: pointer;

  }

  .video-container{

    background-color: #f1f2f3;
}

.video-sub-container{
    max-width: 1340px;
    margin-left:auto;
    margin-right:auto;
    padding-left:70px;
    padding-right:70px;
    flex-direction: column;
    display: flex;
}
.video-title{
    align-items: flex-start;
    display: flex;
    flex-direction: column;

}

.video-div{
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 50px;
    display: flex;
    object-fit: fill;
    border: 15px solid #28eea7;
    border-radius: 20px;

}
    

.video-background{
    width: 100%;
    background-image: url(https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg);
    background-position: 50%;
    background-size: cover;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;

}

.video-iframe{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    pointer-events:auto
}

.milestones-sub-container{
    max-width: 1340px;
    margin-left:auto;
    margin-right:auto;
    padding-left:70px;
    padding-right:70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;

}

.milestones-content-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    padding-top: 50px;
}


.milestones-content-box-container
{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    border-radius: 10px;
    background-color: #f1f2f3;
    margin: 20px;
    padding:40px;
    text-align:center;

}

.milestones-content-box-title{
    color: #363738;
    text-align: center;
    font-size: 120px;
    font-weight: 900;
}

.milestones-content-box-subtitle{
    color: #363738;
    font-size: 64px;
}

.milestones-content-sub-box-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
}

.program-container{
    background-color: rgb(255, 198, 53);
    color: rgb(255, 198, 53);
}
.program-container-sub{
    max-width: 1340px;
    margin-left:auto;
    margin-right:auto;
    padding-left:70px;
    padding-right:70px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;

}
.program-div{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}


#FCS{
    display:flex;
}

.tablinks{
    border-radius: 10px 10px 0 0;    
    vertical-align: top;
    text-align: left;
    cursor: pointer;
    color: #222;
    text-decoration: none;
    display: inline-block;
    position: relative;
    background-color: inherit;
    padding: 20px 50px;
}

.tablinks.active{
    background-color: #363738;
    color: inherit;
}

.tab-content-container {
    height: 100%;
    background-color: #363738;
    border-radius: 20px;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    display:none;
    border-top-left-radius: 0;

}
.tab-content{
    display:flex;
    flex-direction: column;
    align-self:stretch;
    justify-content: space-between;
}

.tab-content-title{
    color:white;
}
.tab-content-body{
    color:white;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.tab-content-body-info{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    color:white;
}

.tab-content-body-info div{
    background-color: #232323;
    padding:10px 20px;
}
.tab-content-body-info a{
    background-color: #232323;
    text-decoration: none;
    color:white;
    padding:10px 20px;

}

.hire-container{

    background-color: #363738;
    color:white;

}

.hire-container-sub{
    max-width: 1340px;
    margin-left:auto;
    margin-right:auto;
    padding-left:70px;
    padding-right:70px;
    flex-direction: column;
    display: flex;
}
.hire-content-container{
    flex-direction:column;
    display:flex;
    background-color: #232323;
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-between;
    grid-row-gap: 24px;
    align-self: stretch;
    align-items: flex-start;
    padding: 40px;
    margin-top:50px;
    margin-bottom:20px;
}
.hire-content-container div:first-child{
    font-weight: 900;
}
.hire-content-container div:last-child{
    background-color: rgba(54, 55, 56, .75);
    align-self: stretch;
    text-align: end;
    text-transform: uppercase;
    padding: 15px 20px;
    white-space: nowrap;
    font-weight:800;
}
.hire-content-container div:last-child a{
    color:white;
    text-decoration: none;
}
.hire-content-banner-container{
    margin-top:20px;
    flex-direction:row;
    display:flex;
    background-color: #232323;
    justify-content: flex-end;
    padding: 20px 40px;
    border-radius: 20px;
    font-size: 16px;
    align-items: center;
    font-size: 22px;
    grid-column-gap: 40px;
}

.companies-joined{
    color: #fcfcfd;
    text-align: left;
    background-color: #363738;
    padding: 15px 20px;
    font-weight: 400;
    line-height: 1.4;
}

.testimonials-sub-container{
    max-width: 1340px;
    padding-left: 70px;
    padding-right: 70px;
    margin-left:auto;
    margin-right:auto; 
}
.testimonials-container-container{
    background-color: #363738;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 64px;
}

.testimonials-content-container{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.testimonials-content-sub-container{
    display:flex;
    flex-direction: row;
}

.mySlides {
    display:none;
    background-color: #363738;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
}
.mySlides-text{
    flex-basis:50%;
    color: #fcfcfd;
    margin-bottom: 32px;
    font-weight: 400;
    line-height: 1.4;
}

.mySlides-text img:first-child{
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 24px;
}

.mySlides-text img:last-child{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}
.mySlides-img{
    flex-basis:50%;
}
.mySlides-img img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.testimonials-dots{
    text-align:center;
    margin-top: 24px;
    font-size: 10px;
    position: static;
}

.testimonials-dots .dot{
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 100%;
    width: 1em;
    height: 1em;
    cursor: pointer;
    background-color: rgba(34, 34, 34, .4);
    margin: 0 3px .5em;
    transition: background-color .1s, color .1s;
    display:inline-block
}
.testimonials-dots .dot .active{
    background-color: #222;
}

.faq-container{
    flex-direction: column;
    background-color: #363738;
    color:white;
}
.faq-sub-container{
    max-width: 1340px;
    padding-left: 70px;
    padding-right: 70px;
    margin-left: auto;
    margin-right: auto;

}
.faq-container-content{
    margin-top:50px;
}
.faq-container-content details{
    background-color: #232323;
    margin-top: 24px;
    border: 5px solid #232323;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px 24px;

}
.faq-container-content details summary{
    list-style: none;
    cursor: pointer;
    font-weight: 900;
}
.faq-container-content > a{
    background-color: #232323;
    display:block;
    text-align: right;
    text-decoration: none;
    color: white;
    overflow: hidden;
    border: 5px solid #232323;
    margin-top: 20px;
    padding: 20px 24px;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight:800;
}

.contact-container{
    background-color: #28eea7;
}
.contact-sub-container{
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
    padding-left:70px;
    padding-right:70px;
    display: flex;
    flex-direction: column;
}
.contact-container-content{
    
    display: flex;
    flex-direction: row;
    color:white;
    margin-top:50px;
    align-items: center;
    justify-content: space-between;
}

.contact-container-directions{
    width: 320px;
    background-color: #363738;
    border-radius: 20px;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    align-self: stretch;
    padding: 30px 40px 40px;
    font-size: 14px;
}
.contact-directions-title{
    color: #a5a6a9;
    text-align: left;
    font-size: 14px;
    font-weight: 900;
    line-height: 1.4;
}
.contact-directions-map{
    cursor: url(https://maps.gstatic.com/mapfiles/openhand_8_8.cur), default;
    z-index: 3;
    touch-action: pan-x pan-y;
}
.contact-directions-footer{
    color: #a5a6a9;
    text-align: left;
    flex: 0 auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.contact-directions-footer-title{
    color: #fcfcfd;
    font-weight: 700;
}
.contact-container-form{
    grid-row-gap: 24px;
    background-color: #363738;
    border-radius: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-self: stretch;
    align-items: flex-start;
    padding: 30px 40px 40px;
    font-size: 14px;
    display: flex;

}

.contact-sub-container-form{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

.contact-form-title{
    color: #a5a6a9;
    text-align: left;
    font-size: 14px;
    font-weight: 900;
    line-height: 1.4;
}

.contact-form-email{
    color: #28eea7;
    font-weight: 900;
    text-align: left;
    font-size: 22px;
    line-height: 1.4;
}

.form-text-area{
    min-height: 120px;
    margin-bottom: 0;
    width: 100%;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857;
    display: block;
}
.radio-form{
    display:flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: baseline;
    color: #fcfcfd;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 15px 20px;
    font-weight: 800;
    
}

.partners-container{
    display:flex;
    flex-direction: column;
    background-color: #fff;
    flex-wrap: wrap;


}
.partners-container-sub{
    max-width: 1340px;
    margin-left:auto;
    margin-right:auto;
    padding-left:70px;
    padding-right:70px;
}
.partners-sub-container{
    width: 100%;
    flex: 1;
    align-self: stretch;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    margin-bottom:20px;
}
.partners-sub-container img{
    height: 80px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    max-width: 100%;
    vertical-align: middle;
}

.green-button{
    color: #363738;
    background-color: #28eea7;
    align-self: flex-end;
}

.newsletter-container{
    /* display:flex;
    flex-direction:column; */
    background-color: #363738;

}

.newsletter-sub-container{
    display:flex;
    flex-direction:row;
    max-width: 1340px;
    color:white;
    justify-content: space-between;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
    padding-left: 70px;
    padding-right: 70px;

}

.news-text-1{
    font-size: 22px;
    font-weight: 900;
    line-height: 1.5;

}

.news-text-2{
    color: #a5a6a9;
    text-align: left;
    flex: 0 auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.news-input-1{
    height: 45px;
    margin-bottom: 0;
    padding-left: 16px;
    padding-right: 16px;
    
}

.news-input-2{
    height: 45px;
    background-color: #232323;
    flex: 1;
    text-align: right;
    line-height: inherit;
    cursor: pointer;
    color: #fcfcfd;
    text-transform: uppercase;
    padding: 15px 20px;
    font-weight: 800;
    white-space: nowrap;
}

.footer-container{
    background-color: #232323;
    color:#a5a6a9;
    
}
.footer-sub-container{
    max-width: 1340px;
    padding-left: 70px;
    padding-right: 70px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    display:flex;
    justify-content: space-between;
}

.footer-content-column{
    flex-direction: column;
    display:flex;
    justify-content: flex-end;

}

.footer-content-row{
    flex-direction: row;
    display:flex;
    justify-content: space-between;
}

.footer-content-row a, .footer-content-row-copyright a{
    text-decoration: none;
    color: #a5a6a9;
    margin-top: 9px;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 16px;
}


.footer-content-title{
    color: #dcdee1;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 900;
    line-height: 16px;
}

.footer-content-row-copyright{
    flex-direction: row;
    display:flex;
    justify-content: space-between;
    margin:70px 0px;
}

.footer-content-copyright{
    color: #a5a6a9;
    font-size: 12px;
}